<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      table {
        width: 800px;
        max-height: 1141px;
        border-collapse: collapse;
        font-family: "Arial";
        table-layout: fixed;
      }
      th,
      td {
        border: 1px solid black;
        text-align: left;
        height: 19px;
      }
      .no-border {
        border: none;
      }
      .header {
        text-align: center;
        font-weight: bold;
      }
      .map {
        height: 500px;
      }
      .gray {
        background-color: #c0c0c0;
      }
      .right {
        text-align: right;
      }
      .left {
        text-align: left;
      }
      .separator {
        border: none;
        height: 8px;
      }
    </style>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td
            colspan="4"
            class="header no-border"
            style="
              text-align: center;
              color: rgb(255, 6, 6);
              font-weight: bold;
              font-size: 20px;
            "
          >
            {{annexeCode}}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="no-border">
            <img src="{{logoSrc}}" alt="{{logoAlt}}" height="50" />
          </td>
          <td colspan="2" class="header gray" style="font-size: 28px">
            {{saCode}}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="no-border"></td>
          <td
            colspan="2"
            class="header no-border"
            rowspan="3"
            style="height: 40px; padding-bottom: 50px; font-size: 24px"
          >
            {{reportTitle}}
          </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <td
            colspan="4"
            class="header no-border"
            style="text-align: center; color: rgb(19, 2, 144)"
          >
            {{visitDateText}}
          </td>
        </tr>
        <!-- ---------------------------------------- -->
        <tr>
          <td class="header left gray">Nom du site:</td>
          <td>{{siteName}}</td>
          <td class="header left gray">Code Site:</td>
          <td>{{siteCode}}</td>
        </tr>
        <tr>
          <td class="header left gray">Qualité radio (1,2,3):</td>
          <td>{{radioQuality}}</td>
          <td class="header left gray">Candidat (a,b,c):</td>
          <td>{{candidate}}</td>
        </tr>
        <!-- --------------------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- ---------------------------------- -->

        <tr>
          <td class="header left gray">Nom Négociateur:</td>
          <td>{{negotiatorName}}</td>
          <td class="header left gray">Mobile:</td>
          <td>{{negotiatorMobile}}</td>
        </tr>
        <tr>
          <td class="header left gray">Société:</td>
          <td>{{company}}</td>
          <td class="header left gray">Téléphone:</td>
          <td>{{telephone}}</td>
        </tr>
        <!-- --------------------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- ---------------------------------- -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 24px">
            {{generalInfoTitle}}
          </td>
        </tr>
        <tr>
          <td class="header left gray" style="border-bottom: none">
            Adresse du site:
          </td>
          <td style="border-bottom: none">{{siteAddress}}</td>
          <td class="header gray left">Ville:</td>
          <td>{{city}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-top: none"></td>
          <td style="border-top: none"></td>
          <td class="header gray left">Wilaya:</td>
          <td>{{wilaya}}</td>
        </tr>

        <!-- --------------------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- ---------------------------------- -->

        <tr>
          <td class="header left gray">Nom du propriétaire:</td>
          <td>{{ownerName}}</td>
          <td class="header left gray">Téléphone:</td>
          <td>{{ownerPhone}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-bottom: none">
            Adresse du propriétaire:
          </td>
          <td style="border-bottom: none">{{ownerAddress}}</td>
          <td class="header gray left">Mobile:</td>
          <td>{{ownerMobile}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-top: none"></td>
          <td style="border-top: none"></td>
          <td class="header gray left">Fax:</td>
          <td>{{ownerFax}}</td>
        </tr>
      </tbody>
    </table>
    <div style="margin-bottom: 200px"></div>
  </body>
</html>
