<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire de Recherche de Site</title>
    <style>
      table { width: 800px; max-height: 1141px; border-collapse: collapse;
      font-family: "Arial"; table-layout: fixed; } th, td { border: 1px solid
      black; /* padding: 8px; */ text-align: left; height: 19px; } .no-border {
      border: none; } .header { text-align: center; font-weight: bold; } .map {
      height: 500px; } .gray { background-color: #c0c0c0; } .right { text-align:
      right; } .left { text-align: left; } .separator { border: none; height:
      8px; }
    </style>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td
            colspan="4"
            class="header no-border"
            style="
              text-align: center;
              color: rgb(255, 6, 6);
              font-weight: bold;
              font-size: 20px;
            "
          >
            ANNEXE SA3
          </td>
        </tr>
        <tr>
          <td colspan="2" class="no-border">
            <img src="logo.png" alt="Mobilis" height="50" />
          </td>
          <td colspan="2" class="header gray" style="font-size: 28px">SA-3</td>
        </tr>
        <tr>
          <td colspan="2" class="no-border"></td>
          <td
            colspan="2"
            class="header no-border"
            rowspan="3"
            style="height: 40px; padding-bottom: 50px; font-size: 24px"
          >
            Rapport de Visite Technique
          </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <td
            colspan="4"
            class="header no-border"
            style="text-align: center; color: rgb(19, 2, 144)"
          >
            Visite technique effectué le
          </td>
        </tr>
        <!-- ---------------------------------------- -->
        <tr>
          <td class="header left gray">Nom du site:</td>
          <td>{{Nom_du_site}}</td>
          <td class="header left gray">Code Site:</td>
          <td>{{Code_Site}}</td>
        </tr>
        <tr>
          <td class="header left gray">Qualité radio (1,2,3):</td>
          <td>{{Qualité_radio}}</td>
          <td class="header left gray">Candidat (a,b,c):</td>
          <td>{{Candidat}}</td>
        </tr>
        <!-- --------------------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>

        <!-- ---------------------------------- -->

        <tr>
          <td class="header left gray">Nom Négociateur:</td>
          <td>{{Nom_Negociateur}}</td>
          <td class="header left gray">Mobile:</td>
          <td>{{Mobile_Negociateur}}</td>
        </tr>
        <tr>
          <td class="header left gray">Sociéte:</td>
          <td>{{Societe}}</td>
          <td class="header left gray">Téléphone:</td>
          <td>{{Téléphone_Societe}}</td>
        </tr>
        <!-- --------------------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>

        <!-- ---------------------------------- -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 24px">
            Informations Générales
          </td>
        </tr>
        <tr>
          <td class="header left gray" style="border-bottom: none">
            Adresse du site:
          </td>
          <td style="border-bottom: none">{{Adresse_du_site}}</td>
          <td class="header gray left">Ville:</td>
          <td>{{Ville}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-top: none"></td>
          <td style="border-top: none"></td>
          <td class="header gray left">Wilaya:</td>
          <td>{{Wilaya}}</td>
        </tr>

        <!-- --------------------------------------------- -->

        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- ---------------------------------- -->

        <tr>
          <td class="header left gray">Nom du propriétaire:</td>
          <td>{{Nom_proprietaire}}</td>
          <td class="header left gray">Téléphone:</td>
          <td>{{Téléphone_proprietaire}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-bottom: none">
            Adresse du propriétaire:
          </td>
          <td style="border-bottom: none">{{Adresse_proprietaire}}</td>
          <td class="header gray left">Mobile:</td>
          <td>{{Mobile_proprietaire}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-top: none"></td>
          <td style="border-top: none"></td>
          <td class="header gray left">Fax:</td>
          <td>{{fax_proprietaire}}</td>
        </tr>

        <!-- ------------------------------------------------ -->

        <tr class="separator"></tr>
        <tr class="separator"></tr>

        <!-- ---------------------------------- -->

        <tr>
          <td class="header left gray">Personne a contacter:</td>
          <td>{{Personne_contacter}}</td>
          <td class="header left gray">Téléphone:</td>
          <td>{{Personne_contacter_Telephone}}</td>
        </tr>

        <tr>
          <td class="header left gray" style="border-bottom: none">
            Adresse du contact:
          </td>
          <td style="border-bottom: none">{{Adresse_contact}}</td>
          <td class="header gray left">Mobile:</td>
          <td>{{Mobile_contact}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-top: none"></td>
          <td style="border-top: none"></td>
          <td class="header gray left">Fax:</td>
          <td>{{Fax_contact}}</td>
        </tr>

        <!-- ---------------------------------------------->

        <tr class="separator"></tr>
        <tr class="separator"></tr>

        <!-- ---------------------------------- -->

        <tr>
          <td class="header left gray" style="border-bottom: none">
            Autres informations:
          </td>
          <td
            style="border-bottom: none; border-right: none"
          >{{Autres_informations}}</td>
          <td
            style="border-bottom: none; border-left: none; border-right: none"
          ></td>
          <td style="border-bottom: none; border-left: none"></td>
        </tr>
        <tr>
          <td class="header left gray" style="border-top: none"></td>
          <td style="border-top: none; border-right: none"></td>
          <td
            style="border-top: none; border-left: none; border-right: none"
          ></td>
          <td style="border-top: none; border-left: none"></td>
        </tr>

        <!-- -------------------------------- -->

        <tr class="separator"></tr>
        <tr class="separator"></tr>

        <!--  -------------------------------- -->

        <tr>
          <td class="header left gray">Type de propriété:</td>
          <td>{{Type_de_propriete}}</td>
          <td class="no-border"></td>
          <td class="no-border"></td>
        </tr>
        <tr>
          <td class="header left gray" style="font-size: 15px">
            Date estimée de signature:
          </td>
          <td>{{Date_estimee_signature}}</td>
          <td class="header left gray">Fiabilité de négociation:</td>
          <td>{{Fiabilite_negociation}}</td>
        </tr>

        <!-- -------------------------------- -->

        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>

        <!-- -------------------------------- -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 24px">
            Localisation
          </td>
        </tr>

        <tr>
          <td colspan="2" class="header gray">Coordonnées du site théorique</td>
          <td colspan="2" class="header gray">Coordonnées du Candidat:</td>
        </tr>
        <tr>
          <td class="header left gray">Longitude:</td>
          <td>{{Longitude_theorique}}</td>
          <td class="header gray left">Longitude:</td>
          <td>{{Longitude_Candidat}}</td>
        </tr>
        <tr>
          <td class="header left gray">Latitude:</td>
          <td>{{Latitude_theorique}}</td>
          <td class="header gray left">Latitude:</td>
          <td>{{Latitude_Candidat}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-bottom: none">
            Référence carte:
          </td>
          <td style="border-bottom: none">{{Reference_carte}}</td>
          <td class="header gray left">Altitude:</td>
          <td>{{Altitude}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-top: none"></td>
          <td style="border-top: none"></td>
          <td class="header gray left" style="font-size: 15px">
            Source des coordonnées:
          </td>
          <td>{{Source_coordonnees}}</td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- -------------------------------- -->

        <tr>
          <td class="header left gray">Zone:</td>
          <td>{{Zone}}</td>
          <td class="header gray left">Environnement:</td>
          <td>{{Environnement}}</td>
        </tr>
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>

        <!-- -------------------------------- -->

        <tr>
          <td class="header left gray" style="border-bottom: none">
            Antennes présentes sur le site:
          </td>
          <td
            style="border-bottom: none; border-right: none"
          >{{Antennes_presentes_site}}</td>
          <td
            style="border-bottom: none; border-left: none; border-right: none"
          ></td>
          <td style="border-bottom: none; border-left: none"></td>
        </tr>

        <tr>
          <td class="header left gray">Autres sites environnants:</td>
          <td style="border-right: none">{{Autres_sites_environnants}}</td>
          <td style="border-left: none; border-right: none"></td>
          <td style="border-left: none"></td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- -------------------------------- -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 24px">
            Topologie
          </td>
        </tr>
        <tr>
          <td class="header left gray">Type de site:</td>
          <td>{{Type_de_site}}</td>
          <td class="header gray left">Hauteur:</td>
          <td>{{Hauteur}}</td>
        </tr>
        <!-- page 1 -->
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- -------------------------------- -->
        <tr>
          <td class="no-border left">Cas d'un bâtiment:</td>
          <td class="no-border">{{Cas_batiment}}</td>
          <td class="header gray left">Nombre d'étages:</td>
          <td>{{Nombre_etages}}</td>
        </tr>
        <tr>
          <td class="header left gray">Année de construction:</td>
          <td>{{Annee_construction}}</td>
          <td class="header gray left">Toit plat:</td>
          <td>{{Toit_plat}}</td>
        </tr>
        <tr>
          <td class="header left gray">Local disponible:</td>
          <td>{{Local_disponible}}</td>
          <td class="header gray left">Dimensions local:</td>
          <td>{{Dimensions_local}}</td>
        </tr>
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- -------------------------------- -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 20px">
            Typologie de site
          </td>
        </tr>
        <tr>
          <td class="header left gray">Type équipement:</td>
          <td>{{Type_equipement}}</td>
          <td class="header gray left">Percement nécessaire:</td>
          <td>{{Percement_necessaire}}</td>
        </tr>
        <tr>
          <td class="header left gray">Dimensions de site:</td>
          <td>{{Dimensions_site}}</td>
          <td class="header gray left">Nombre de mats:</td>
          <td>{{Nombre_mats}}</td>
        </tr>

        <tr>
          <td class="header left gray" style="border-bottom: none">
            Commentaires et dimensions structure équipements:
          </td>
          <td colspan="3">{{Commentaires_dimensions_structure_equipements}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-bottom: none">
            Commentaires généraux de construction:
          </td>
          <td colspan="3">{{Commentaires_generaux_construction}}</td>
        </tr>
        <tr>
          <td
            class="header left gray"
            style="border-bottom: none; padding: 15px 0"
          >
            Plans As-built existants:
          </td>
          <td colspan="3">{{Plans_As-built_existants}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-bottom: none">
            Commentaires dégâts existants
          </td>
          <td colspan="3">{{Commentaires_degats_existants}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="border-bottom: none">
            Restrictions de construction:
          </td>
          <td colspan="3">{{Restrictions_construction}}</td>
        </tr>
        <tr>
          <td class="header left gray">
            Commentaires sur autre opérateurs existants:
          </td>
          <td colspan="3">{{Commentaires_autre_opérateurs_existants}}</td>
        </tr>
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 24px">Accès</td>
        </tr>
        <tr>
          <td class="header left gray">Accès 24/24h:</td>
          <td>{{Acces_24}}</td>
          <td colspan="2" class="header left">
            Si Non, indiquer ci-dessous les horaires:
          </td>
        </tr>
        <tr>
          <td class="header left gray">Accès en semaine:</td>
          <td>{{Acces_semaine}}</td>
          <td class="header gray left">Accès le Week-end:</td>
          <td>{{Acces_Weekend}}</td>
        </tr>
        <tr>
          <td colspan="4" style="text-align: center" class="no-border">
            Indiquer ci-dessous les horaires d'accès pendant la construction:
          </td>
        </tr>
        <tr>
          <td class="header left gray">Accès en semaine:</td>
          <td>{{Acces_semaine_pendant}}</td>
          <td class="header gray left">Accès le Week-end:</td>
          <td>{{Acces_Weekend_pendant}}</td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->

        <tr>
          <td class="header left gray" style="font-size: 17px">
            Itinéraire d'accès au site:
          </td>
          <td colspan="3">{{Itineraire_acces_site}}</td>
        </tr>
        <tr>
          <td class="header left gray">Commentaires accès aux emplacements:</td>
          <td colspan="3">{{Commentaires_acces_emplacements}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="padding: 10px 0">
            Conditions d'entée:
          </td>
          <td colspan="3">{{Conditions_entee}}</td>
        </tr>

        <tr>
          <td class="header left gray">Boite a clés à installer:</td>
          <td colspan="1">{{Boite_cles_installer}}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="header left gray">Ascenseur:</td>
          <td>{{Ascenseur}}</td>
          <td class="header left gray">Dimensions et poids:</td>
          <td>{{Dimensions_poids_Ascenseur}}</td>
        </tr>
        <tr>
          <td class="header left gray">Monte charges:</td>
          <td>{{Monte_charges}}</td>
          <td class="header left gray">Dimensions et poids:</td>
          <td>{{Dimensions_poids_Monte_charges}}</td>
        </tr>
        <tr>
          <td class="header left gray">Droit passage demande:</td>
          <td colspan="1">{{Droit_passage_demande}}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="header left gray">Commentaires droit de passage:</td>
          <td colspan="3">{{Commentaires_droit_passage}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="font-size: 15px">
            Nouvelle route nécessaire:
          </td>
          <td>{{Nouvelle_route_necessaire}}</td>
          <td class="header left gray">Longueur estimée:</td>
          <td>{{Longueur_estimee}}</td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 24px">
            Emplacement équipements extérieurs
          </td>
        </tr>
        <tr>
          <td class="header left gray">Disponible:</td>
          <td>{{Disponible}}</td>
          <td class="header gray left">Nacelle nécessaire:</td>
          <td>{{Nacelle_necessaire}}</td>
        </tr>
        <tr>
          <td class="header left gray">clôture équipement existante:</td>
          <td>{{clôture_equipement_existante}}</td>
          <td class="header gray left">Plateforme d'élévation nécessaire:</td>
          <td></td>
        </tr>
        <tr>
          <td class="header left gray">Nouvelle clôture nécessaire:</td>
          <td>{{Nouvelle_clôture_necessaire}}</td>
          <td class="header gray left">Dalles en béton existantes:</td>
          <td>{{Dalles_beton_existantes}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="padding: 10px 0">
            Emplacements BTS:
          </td>
          <td colspan="3">{{Emplacements_BTS}}</td>
        </tr>
        <tr>
          <td class="header left gray" style="padding: 10px 0">
            Espace nacelle:
          </td>
          <td colspan="3">{{Espace_nacelle}}</td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->
        <!-- page 2 -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 18px">
            Énergie
          </td>
        </tr>
        <tr>
          <td class="header left gray">Alimentation disponible sur site:</td>
          <td>{{Alimentation_disponible_site}}</td>
          <td class="header gray left">Nouveau branchement nécessaire:</td>
          <td>{{Nouveau_branchement_necessaire_energie}}</td>
        </tr>
        <tr>
          <td class="header left gray">Capacité électrique:</td>
          <td>{{Capacite_electrique}}</td>
          <td class="header gray left">Longueur câble alimentation:</td>
          <td>{{Longueur_cable_alimentation}}</td>
        </tr>
        <tr>
          <td class="header left" style="border-right: none"></td>
          <td style="border-left: none"></td>
          <td class="header gray left">Section câble alimentation:</td>
          <td>{{Section_cable_alimentation}}</td>
        </tr>

        <tr>
          <td class="header left gray">Localisation branchement principal:</td>
          <td colspan="3">{{Localisation_branchement_principal}}</td>
        </tr>
        <tr>
          <td class="header left gray">Cheminement câble alimentation:</td>
          <td colspan="3">{{Cheminement_cable_alimentation}}</td>
        </tr>
        <tr>
          <td class="header left gray">Commentaires énergie:</td>
          <td colspan="3">{{Commentaires_energie}}</td>
        </tr>
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <!-- --------------------------------- -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 18px">
            Mise à la terre
          </td>
        </tr>
        <tr>
          <td class="header left gray">Mise a la terre:</td>
          <td>{{Mise_a_terre}}</td>
          <td class="header gray left">Longueur MAT:</td>
          <td>{{Longueur_MAT}}</td>
        </tr>
        <tr>
          <td class="header left gray">MAT courant AC:</td>
          <td>{{MAT_courant_AC}}</td>
          <td class="header gray left">Ceinturage existant:</td>
          <td>{{Ceinturage_existant}}</td>
        </tr>
        <tr>
          <td class="header left gray">Barre principale de MAT:</td>
          <td>{{Barre_principale_MAT}}</td>
          <td class="header gray left">Descente de terre:</td>
          <td>{{Descente_terre}}</td>
        </tr>

        <tr>
          <td class="header left gray" style="border-bottom: none">
            Emplacement MAT dans bâtiment principal :
          </td>
          <td colspan="3">{{Emplacement_MAT_bâtiment_principal}}</td>
        </tr>

        <tr>
          <td class="header left gray">Commentaires descente de terre:</td>
          <td colspan="3">{{Commentaires_descente_terre}}</td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <!-- --------------------------------- -->
        <tr>
          <td colspan="4" class="header gray" style="font-size: 18px">
            Parafoudre
          </td>
        </tr>
        <tr>
          <td class="header left gray">Parafoudre existant:</td>
          <td>{{Parafoudre_existant}}</td>
          <td class="header gray left">Nécessaire:</td>
          <td>{{Necessaire}}</td>
        </tr>
        <tr>
          <td class="header left gray">Parafoudre radioactif:</td>
          <td>{{Parafoudre_radioactif}}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="header left gray">Commentaires:</td>
          <td colspan="3">{{Parafoudre_radioactif_Commentaires}}</td>
        </tr>
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <!-- --------------------------------- -->

        <tr>
          <td colspan="4" class="header gray" style="font-size: 18px">
            Equipements de Sécurité
          </td>
        </tr>
        <tr>
          <td class="header left gray">Système permanent nécessaire:</td>
          <td>{{Systeme_permanent_necessaire}}</td>
          <td class="header gray left">Système temporaire nécessaire:</td>
          <td>{{Systeme_temporaire_necessaire}}</td>
        </tr>
        <tr>
          <td class="header left gray">Description système permanent:</td>
          <td colspan="3">{{Description_systeme_permanent}}</td>
        </tr>
        <tr>
          <td class="header left gray">Description système temporaire:</td>
          <td colspan="3">{{Description_système_temporaire}}</td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->
        <tr>
          <td colspan="4" class="header gray" style="font-size: 18px">
            Configuration Radio
          </td>
        </tr>
        <tr>
          <td class="header left gray">Type de BTS:</td>
          <td style="text-align: center">{{Type_bts}}</td>
          <td class="header gray left">Configuration BTS:</td>
          <td style="text-align: center">{{Config_bts}}</td>
        </tr>
        <tr>
          <td
            class="header left gray"
            style="
              background: repeating-linear-gradient(
                45deg,
                #c0c0c0,
                #494848 2px,
                #ffffff 3px,
                #ffffff 5px
              );
            "
          ></td>
          <td class="header gray center">Secteur 1</td>
          <td class="header gray center">Secteur 2:</td>
          <td class="header gray center">Secteur 3</td>
        </tr>
        <tr>
          <td class="header left gray">Azimut:</td>
          <td>{{Azimut_sec1}}</td>
          <td>{{Azimut_sec2}}</td>
          <td>{{Azimut_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">Nombre d'antennes:</td>
          <td>{{Nombre_antennes_sec1}}</td>
          <td>{{Nombre_antennes_sec2}}</td>
          <td>{{Nombre_antennes_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">HBA toit:</td>
          <td>{{HBA_toit_sec1}}</td>
          <td>{{HBA_toit_sec2}}</td>
          <td>{{HBA_toit_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">HBA sol:</td>
          <td>{{HBA_sol_sec1}}</td>
          <td>{{HBA_sol_sec2}}</td>
          <td>{{HBA_sol_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">Type d'antenne:</td>
          <td>{{Type_antenne_sec1}}</td>
          <td>{{Type_antenne_sec2}}</td>
          <td>{{Type_antenne_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">TMA:</td>
          <td>{{TMA_sec1}}</td>
          <td>{{TMA_sec2}}</td>
          <td>{{TMA_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">Tilt éléctrique:</td>
          <td>{{Tilt_electrique_sec1}}</td>
          <td>{{Tilt_electrique_sec2}}</td>
          <td>{{Tilt_electrique_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">Tilt mécanique:</td>
          <td>{{Tilt_mecanique_sec1}}</td>
          <td>{{Tilt_mecanique_sec2}}</td>
          <td>{{Tilt_mecanique_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">Longueur feeder:</td>
          <td>{{Longueur_feeder_sec1}}</td>
          <td>{{Longueur_feeder_sec2}}</td>
          <td>{{Longueur_feeder_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">Diamètre feeder:</td>
          <td>{{Diametre_feeder_sec1}}</td>
          <td>{{Diametre_feeder_sec2}}</td>
          <td>{{Diametre_feeder_sec3}}</td>
        </tr>
        <tr>
          <td class="header left gray">Combiner:</td>
          <td>{{Combiner_sec1}}</td>
          <td>{{Combiner_sec2}}</td>
          <td>{{Combiner_sec3}}</td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->
        <tr>
          <td colspan="4" class="header gray" style="font-size: 22px">
            Transmission
          </td>
        </tr>
        <tr>
          <td class="header left gray">Visibilté hub1 potentiel:</td>
          <td>{{Visibilte_hub1_potentiel}}</td>
          <td class="header gray left">Azimut hub1 potentiel:</td>
          <td>{{Azimut_hub1_potentiel}}</td>
        </tr>
        <tr>
          <td class="header left gray">Adresse hub1 potentiel:</td>
          <td colspan="3">{{Adresse_hub1_potentiel}}</td>
        </tr>
        <tr>
          <td class="header left gray">Visibilté hub2 potentiel:</td>
          <td>{{Visibilte_hub2_potentiel}}</td>
          <td class="header gray left">Azimut hub2 potentiel:</td>
          <td>{{Azimut_hub2_potentiel}}</td>
        </tr>
        <tr>
          <td class="header left gray">Adresse hub2 potentiel:</td>
          <td colspan="3">{{Adresse_hub2_potentiel}}</td>
        </tr>
        <tr>
          <td class="header left gray">Visibilté hub3 potentiel:</td>
          <td>{{Visibilte_hub3_potentiel}}</td>
          <td class="header gray left">Azimut hub3 potentiel:</td>
          <td>{{Azimut_hub3_potentiel}}</td>
        </tr>
        <tr>
          <td class="header left gray">Adresse hub3 potentiel:</td>
          <td colspan="3">{{Adresse_hub3_potentiel}}</td>
        </tr>
        <tr>
          <td rowspan="2" class="header left gray">
            Nouveau support d'antenne nécessaire:
          </td>
          <td
            rowspan="2"
            colspan="3"
          >{{Nouveau_support_antenne_necessaire}}</td>

        </tr>
        <!-- page 3 -->
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>

        <!-- --------------------------------- -->
        <tr>
          <td colspan="4" class="header gray" style="font-size: 22px">
            Liaision spécialisée
          </td>
        </tr>
        <tr>
          <td class="header left gray">LS disponible sur site:</td>
          <td>{{LS_disponible_site}}</td>
          <td class="header gray left">Nouveau branchement nécessaire:</td>
          <td>{{Nouveau_branchement_necessaire_liaison}}</td>
        </tr>
        <tr>
          <td class="header left gray">
            Localisation boitier de raccordement:
          </td>
          <td colspan="3">{{Localisation_boitier_raccordement}}</td>
        </tr>
        <tr>
          <td class="header left gray">Cheminement LS:</td>
          <td colspan="3">{{Cheminement_LS}}</td>
        </tr>
        <tr>
          <td class="header left gray">Distance repartiteur-boitier:</td>
          <td>{{Distance_repartiteur_boitier}}</td>
          <td class="header gray left">Distance boitier-BTS:</td>
          <td>{{Distance_boitier_BTS}}</td>
        </tr>
        <!-- ---------------------------------  -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->
        <tr>
          <td colspan="4" class="header gray" style="font-size: 22px">
            Annexes
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="4"
            style="border-bottom: none; padding-top: 20px"
          >
            Diagramme des obstacles
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-right: none; border-top: none"
          >
            Croquis sommaire
          </td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          >
            Photo du local
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-right: none; border-top: none"
          >
            Carte scanée
          </td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          >
            Photo du la terrasse
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-right: none; border-top: none"
          >
            Copie du POS
          </td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          >
            Photo emplacement mats et antennes
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-right: none; border-top: none"
          >
            Copie du plan des Servitudes
          </td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          >
            Photo gaine technique
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-right: none; border-top: none"
          >
            Photo d'ensempble
          </td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          >
            Photo énergie principale
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-right: none; border-top: none"
          >
            Photo entrée du site
          </td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          >
            Photo sous-comptage
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-right: none; border-top: none"
          >
            Panoramique 360°
          </td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          >
            Photo accés terasse
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="
              border-bottom: none;
              border-right: none;
              border-top: none;
              padding-top: 30px;
            "
          ></td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          ></td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-right: none; border-top: none"
          >
            Photo Secteur 1
          </td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          >
            Photo accés aux emplacements
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-right: none; border-top: none"
          >
            Photo Secteur 2
          </td>
          <td
            class="left"
            colspan="2"
            style="border-bottom: none; border-left: none; border-top: none"
          >
            Photo zone de grutage
          </td>
        </tr>
        <tr>
          <td
            class="left"
            colspan="2"
            style="border-right: none; border-top: none"
          >
            Photo Secteur 3
          </td>
          <td
            class="left"
            colspan="2"
            style="border-left: none; border-top: none"
          >
            Autres
          </td>
        </tr>
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->

        <tr>
          <td class="header left gray">Validation Acquisition:</td>
          <td style="padding: 0; border-right: none">
            Validé
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >
              {{#if Validation_Acquisition}}
                x
              {{/if}}</span>
          </td>
          <td style="padding: 0; border-right: none; border-left: none">
            Rejeté
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if non_Validation_Acquisition}}
                x
              {{/if}}</span>
          </td>
          <td style="padding: 0; border-left: none">
            Gelé
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if gele_Acquisition}}
                x
              {{/if}}</span>
          </td>
        </tr>
        <tr>
          <td class="header left gray">Responsable Acq:</td>
          <td>{{Responsable_Acq}}</td>
          <td class="no-border left">Signature:</td>
          <td class="no-border" style="border-right: 1px solid black">
            {{!-- <img src="{{Signature_Responsable_Acq}}" alt="Signature" /> --}}
          </td>
        </tr>
        <tr>
          <td class="header left gray">Date:</td>
          <td>{{Responsable_Acq_date}}</td>
          <td
            class="no-border left"
            style="border-bottom: 1px solid black"
          ></td>
          <td
            style="
              border-right: 1px solid black;
              border-bottom: 1px solid black;
            "
            class="no-border"
          ></td>
        </tr>
        <tr>
          <td class="header left gray" style="padding-bottom: 20px">
            Commentaires:
          </td>
          <td colspan="3">{{Responsable_Acq_Commentaires}}</td>
        </tr>
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->

        <tr>
          <td class="header left gray">Validation Radio:</td>
          <td style="padding: 0; border-right: none">
            Validé
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if Validation_Radio}}
                x
              {{/if}}</span>
          </td>
          <td style="padding: 0; border-right: none; border-left: none">
            Rejeté
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if non_Validation_Radio}}
                x
              {{/if}}</span>
          </td>
          <td style="padding: 0; border-left: none">
            Gelé
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if gele_Radio}}
                x
              {{/if}}</span>
          </td>
        </tr>
        <tr>
          <td class="header left gray">Responsable RF:</td>
          <td>{{Responsable_RF}}</td>
          <td class="no-border left">Signature:</td>
          <td class="no-border" style="border-right: 1px solid black">
            {{!-- <img src="{{Responsable_RF_Signature}}" alt="Signature" /> --}}
          </td>
        </tr>
        <tr>
          <td class="header left gray">Date:</td>
          <td>{{Responsable_RF_date}}</td>
          <td
            class="no-border left"
            style="border-bottom: 1px solid black"
          ></td>
          <td
            style="
              border-right: 1px solid black;
              border-bottom: 1px solid black;
            "
            class="no-border"
          ></td>
        </tr>
        <tr>
          <td class="header left gray" style="padding-bottom: 20px">
            Commentaires:
          </td>
          <td colspan="3">
            {{Responsable_RF_Commentaires}}
          </td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->

        <tr>
          <td class="header left gray">Validation Construction:</td>
          <td style="padding: 0; border-right: none">
            Validé
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if Validation_Construction}}
                x
              {{/if}}</span>
          </td>
          <td style="padding: 0; border-right: none; border-left: none">
            Rejeté
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if non_Validation_Construction}}
                x
              {{/if}}</span>
          </td>
          <td style="padding: 0; border-left: none">
            Gelé
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if gele_Construction}}
                x
              {{/if}}</span>
          </td>
        </tr>
        <tr>
          <td class="header left gray">Responsable CW:</td>
          <td>{{Responsable_CW}}</td>
          <td class="no-border left">Signature:</td>
          <td class="no-border" style="border-right: 1px solid black">
            {{!-- <img src="{{Responsable_CW_Signature}}" alt="Signature" /> --}}
          </td>
        </tr>
        <tr>
          <td class="header left gray">Date:</td>
          <td>{{Responsable_CW_date}}</td>
          <td
            class="no-border left"
            style="border-bottom: 1px solid black"
          ></td>
          <td
            style="
              border-right: 1px solid black;
              border-bottom: 1px solid black;
            "
            class="no-border"
          ></td>
        </tr>
        <tr>
          <td class="header left gray" style="padding-bottom: 20px">
            Commentaires:
          </td>
          <td colspan="3">
            {{Responsable_CW_Commentaires}}
          </td>
        </tr>
        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->
        <tr>
          <td class="header left gray">Validation Transmission:</td>
          <td style="padding: 0; border-right: none">
            Validé
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if Validation_Transmission}}
                x
              {{/if}}</span>
          </td>
          <td style="padding: 0; border-right: none; border-left: none">
            Rejeté
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if non_Validation_Transmission}}
                x
              {{/if}}</span>
          </td>
          <td style="padding: 0; border-left: none">
            Gelé
            <span
              style="
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1.5px solid black;
                background-color: transparent;
                margin-left: 35px;
                margin-top: 1px;
                margin-bottom: 0px;
                text-align: center;
              "
            >{{#if gele_Transmission}}
                x
              {{/if}}</span>
          </td>
        </tr>
        <tr>
          <td class="header left gray">Responsable Trans:</td>
          <td>{{Responsable_Trans}}</td>
          <td class="no-border left">Signature:</td>
          <td class="no-border" style="border-right: 1px solid black">
            {{!-- <img src="{{Responsable_Trans_Signature}}" alt="Signature" /> --}}
          </td>
        </tr>
        <tr>
          <td class="header left gray">Date:</td>
          <td>{{Responsable_Trans_date}}</td>
          <td
            class="no-border left"
            style="border-bottom: 1px solid black"
          ></td>
          <td
            style="
              border-right: 1px solid black;
              border-bottom: 1px solid black;
            "
            class="no-border"
          ></td>
        </tr>
        <tr>
          <td class="header left gray" style="padding-bottom: 20px">
            Commentaires:
          </td>
          <td colspan="3">
            {{Responsable_Trans_Commentaires}}
          </td>
        </tr>

        <!-- --------------------------------- -->
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <tr class="separator"></tr>
        <!-- --------------------------------- -->
      </tbody>
    </table>
    <div style="margin-bottom: 200px"></div>
  </body>
</html>