<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>

      body { display: flex; flex-direction: column; justify-content: center;
      align-items: center; padding: 15px; gap: 11px; max-width: 210mm; }
      .headers { display: flex; justify-content: space-between; width: 100%; }
      h1 { font-size: 18px; } h2 { font-size: 17px; } .page-break {
      page-break-after: always; } table { width: 85%; margin-top: 30px;
      max-height: 1141px; border-collapse: collapse; font-family: "Arial";
      table-layout: fixed; } th, td { border: 2px solid black; /* padding: 8px;
      */ text-align: left; height: 33px; } .no-top { border-left: 2px solid
      black; border-right: 2px solid black; border-top: none; border-bottom: 2px
      solid black; } .no-border { border: none; } .header { text-align: center;
      font-weight: bold; } .map { height: 500px; } .gray { background-color:
      #c0c0c0; } .right { text-align: right; } .left { text-align: left; }
      .separator { border: none; height: 7px; } .minitd { height: 12px;
      text-align: center; font-size: 13px; padding: 0; margin: 0; }
      .borderdered-tr { border: 5px solid black; } .borderdered-tr >
      *:first-child { color: blue; } .grey3 { background-color: #c0c0c0; } .left
      { text-align: left; } .margin { position: absolute; } .first-table th, td
      { height: 32px; border: 2.5px solid black; } .carrevide { display:
      inline-block; min-width: 15px; min-height: 15px; border: 1.5px solid
      black; background-color: transparent; margin-left: 5px; text-align:
      center; font-weight: bold; font-size: 16px; } .depression > * {
      font-weight: 500; } .flex { display: flex; align-items: center; }
      .notopflex { min-width: 27px; border-right: none; height: 33px; } h3 {
      font-size: 13px; font-weight: bold; font-family: "Arial"; } .input {
      font-size: 16px; font-weight: bold; }
    </style>
  </head>
  <body>
    <div class="headers">
      <img src="{{logoSrc}}" alt="anf logo" style="height: 18vw" />
      <div style="padding-top: 70px">
        <div style="margin-left: 50px">
          <h1>{{title}}</h1>
        </div>
        <div style="display: flex; align-items: center">
          <span
            style="
              padding: 10px 15px;
              border: 3px solid black;
              height: fit-content;
              margin-right: 10px;
            "
          >{{checkbox}}</span>
          <div>
            <h2>D’édification</h2>
            <h2>D’utilisation</h2>
            <h2>De modification</h2>
          </div>
          <span style="font-size: 110px">}</span>
          <span><h1>D’UN SITE «{{siteCode}}»</h1></span>
        </div>
      </div>
    </div>

    <table>
      <tbody>
        <tr>
          <td colspan="12" class="minitd header right no-border">
            1. TYPE DE SITE :
            <span style="margin-left: 20px; font-weight: lighter">
              {{siteType}}
              <span
                style="
                  display: inline-block;
                  width: 15px;
                  height: 15px;
                  border: 1.5px solid black;
                  background-color: transparent;
                  margin-left: 15px;
                  margin-top: 1px;
                  margin-bottom: 0px;
                  text-align: center;
                "
              ></span></span>
            <span
              style="margin-left: 40px; font-weight: lighter; font-size: 20px"
            >
              {{siteType2}}
              <span
                style="
                  display: inline-block;
                  width: 15px;
                  height: 15px;
                  border: 1.5px solid black;
                  background-color: transparent;
                  margin-left: 15px;
                  margin-top: 1px;
                  margin-bottom: 0px;
                  text-align: center;
                "
              ></span></span>
          </td>
          <td colspan="3" class="no-border">*N° ANF</td>
          <td colspan="1" class="minitd no-top input">{{anfCode}}</td>
        </tr>
        <tr>
          <td colspan="25" class="minitd header right no-border">
            2. TYPE DE RESEAU UTILISE SUR LE SITE DEMANDE :
            <span style="font-weight: lighter">Cocher la case correspondante</span>
          </td>
        </tr>
        <tr class="separator"></tr>
        <tr
          style="display: flex; justify-content: space-between"
          class="depression"
        >
          <td colspan="3" class="minitd no-border flex">
            PMR
            <span class="carrevide"></span>
          </td>
          <td
            colspan="3"
            class="minitd no-border flex"
            style="margin-left: 32px"
          >
            BLR
            <span class="carrevide"></span>
          </td>
          <td
            colspan="3"
            class="minitd no-border flex"
            style="margin-left: 32px"
          >
            RP
            <span class="carrevide"></span>
          </td>
          <td
            colspan="3"
            class="minitd no-border"
            style="display: flex; align-items: center; margin-left: 55px"
          >
            R.
          </td>
          <td
            colspan="3"
            class="minitd no-border flex"
            style="margin-left: 3px"
          >
            Balise
            <span class="carrevide"></span>
          </td>
          <td
            colspan="3"
            class="minitd no-border flex"
            style="margin-left: 32px"
          >
            VSAT
            <span class="carrevide"></span>
          </td>
          <td
            colspan="3"
            class="minitd no-border flex"
            style="margin-left: 32px"
          >
            L/CES
            <span class="carrevide"></span>
          </td>
          <td
            colspan="3"
            class="minitd no-border flex"
            style="margin-left: 32px"
          >
            Rad
          </td>
          <td
            colspan="3"
            class="minitd no-border flex"
            style="margin-left: 5px"
          >
            Dif
            <span class="carrevide"></span>
          </td>
          <td
            colspan="3"
            class="minitd no-border flex"
            style="margin-left: 32px"
          >
            FH
            <span class="carrevide"></span>
          </td>
        </tr>
        <tr class="separator"></tr>
        <tr>
          <td
            style="
              height: 35px;
              padding-left: 10px;
              font-size: 16px;
              text-align: left;
            "
            colspan="25"
            class="minitd no-top"
          >
            Autres
            <span class="carrevide"></span>
            .......
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>